---
import Header from "../components/Header.astro";
import "../styles/global.css";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "takeown.github.io",
  description = "개발 기록, 실험, 생각을 남기는 개인 사이트.",
} = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQQJKMGP");
    </script>
  </head>
  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WQQJKMGP"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="site-shell">
      <Header />

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
