---
import Header from "../components/Header.astro";
import "../styles/global.css";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "takeown.github.io",
  description = "개발 기록, 실험, 생각을 남기는 개인 사이트.",
} = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8P9BC6KPB"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-V8P9BC6KPB");
    </script>
  </head>
  <body>
    <div class="site-shell">
      <Header />

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
